<h3>Welcome</h3>
<% if user_signed_in? %>
  <% case current_user.role %>
  <% when 'admin' %>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% when 'vip' %>
    <h3>You're a VIP. Download a premium book.</h3>
    <%= link_to 'Download PDF', products_path('premium.pdf'), :class => 'btn btn-success btn-large' %>
  <% when 'user' %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
  <% end %>
<% end %>